.container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, #444444, #222222, #fb7379);
  background-size: 1200% 1200%;
  animation: bg 50s cubic-bezier(0.32, 0, 0.67, 0) infinite;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.linkLike {
  color: white;
  text-decoration: underline;
  transition: 0.5s color ease;
}

.linkLike:hover {
  color: gray;
}
